
@model IEnumerable<RentAKittenApplication.Models.Kitten>

@{
    ViewBag.Title = "Kitten Collection";
}
<div class="container">
    <h2>Kitten Compendium</h2>
    <p></p>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <p></p>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">

            <div class="pager item active">
                <img src="~/Content/images/cats_header.png" alt="intro" />
            </div>

            @foreach (var item in Model)
            {
                <div class="item pager">
                    <img src="@Html.DisplayFor(modelItem => item.KittyImage)" class="img-responsive center-block" alt="a kitten, maybe. A feline, probably." />
                    <div class="carousel-caption">
                        <h3><span id="carousel-caption-style">@Html.DisplayFor(modelItem => item.KittenName)</span></h3>
                    </div>
                </div>
            }
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <p></p>
   
        <!-- table of kittens -->
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Kitten Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KittenColor)
                </th>
                <th>
                    @Html.ActionLink("Fur Length", "Index", new { sortOrder = ViewBag.FurLengthParm })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Personality)
                </th>
                <!--  <th>
                     @Html.DisplayNameFor(model => model.KittyImage)
                 </th> -->
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KittenName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KittenColor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FurLength)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Personality)
                    </td>
                    <!--  <td>
                         @Html.DisplayFor(modelItem => item.KittyImage)
                     </td> -->
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.KittenID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.KittenID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.KittenID })
                    </td>
                </tr>
            }



        </table>

        @section scripts {
            <script src="~/Scripts/rentakitten.js"></script>
        }
</div>