<script src="http://itemslide.github.io/dist/itemslide.min.js"></script>
<script src="~/Scripts/rentakitten.js"></script>

@model IEnumerable<RentAKittenApplication.Models.Kitten>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="scrolling">
    <ul>

@foreach (var item in Model)
{
        <li>
            <img src="@Html.DisplayFor(modelItem => item.KittyImage)" />
        </li>
}
    </ul>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KittenName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KittenColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FurLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Personality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KittyImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KittenName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KittenColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FurLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Personality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KittyImage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KittenID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KittenID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KittenID })
        </td>
    </tr>
}



</table>


